# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Optional: Vercel Speed Insights (optional, but we are using it)
# VITAL: Only needed if you want to use the Vercel Speed Insights
# NEXT_PUBLIC_VERCEL_SPEED_INSIGHTS_TOKEN=your_token_here